<h1>Friends</h1>

<% if user_signed_in? %>

<table class="table">
	<thead class="thead-dark">
		<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Phone</th>
		<th>Twitter</th>
		<th>ID</th>
		<th></th>
		</tr>
	</thead>

	<tbody>
		<% @friends.each do |friend| %>
		<tr>
			<td>
				<%= link_to friend.first_name + " " + friend.last_name, friend %>
			</td>
			<td><%= friend.email %></td>
			<td><%= friend.phone %></td>
			<td><%= friend.twitter %></td>
			<td><%= friend.user_id %></td>
			<td><%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-dark" %>

<% else %>
	<h1>U are not a user </h1>
<% end %>